// ------------ ESTILOS BODY ------------------ //
.bodyStyle {
    font-family: 'Big Shoulders Display'; 
    font-style: italic;
    padding: 0px;
    background-color: #413937;
    text-align: center;
}
